{% block content %}
<div class="pricing-section" style="padding-top:60px; padding-bottom:60px;">
    <div class="container">
        
        <!-- Start Call Action -->
        <div class="call-action call-action-boxed call-action-style1 clearfix">
            <!-- Call Action Button -->
            <h2 style="text-align:center;" class="primary">{{ date_of_begin_time }}</h2>
        </div>
        <!-- End Call Action -->
        
        <div class="alert alert-success" role="alert">
            <h4 style="text-align:center;" class="alert-heading">남은 시간 : <span style="margin-left:15px" id="day">--</span>일<span style="margin-left:15px" id="hour">--</span>시<span style="margin-left:15px" id="min">--</span>분<span style="margin-left:15px" id="sec">--</span>초</h4>
        </div>
        
        <div style="text-align:center;">
            <button type="button" id="btnLike" class="btn btn-success glyphicon glyphicon-thumbs-up"> 0</button>
            <button type="button" id="btnDisLike" class="btn btn-success glyphicon glyphicon-thumbs-down"> 0</button>
        </div>
        
    </div>
</div>

<script type="text/javascript">
    var like = 0;
    var dislike = 0;

    $(document).ready(function () {
        var dday = {{ server_time }};

        if (dday > 0) {
            var timer = setInterval(function () {
                if (dday == 0) {
                    location.reload();
                } else {
                    var rest = --dday;
                    var sec = rest % 60;
                    var min = ((rest - sec) / 60) % 60;
                    var hours = ((((rest - sec) / 60) - min) / 60) % 24;
                    var days = ((((((rest - sec) / 60) - min) / 60) - hours) / 24);

                    $("#sec").html((sec < 10) ? ('0' + sec) : sec);
                    $("#min").html((min < 10) ? ('0' + min) : min);
                    $("#hour").html((hours < 10) ? ('0' + hours) : hours);
                    $("#day").html((days < 10) ? ('0' + days) : days);
                }
            }, 1000);
        }
        else {
            clearInterval(timer);
        }
    });

    $('#btnLike').click(function () {
        $(this).text(' '+ ++like);
    });
    
    $('#btnDisLike').click(function () {
        $(this).text(' '+ ++dislike);
    });
            
</script >

{% endblock %}