{% block content %}
<div class="pricing-section" style="padding-top:60px; padding-bottom:60px;">
    <div class="container">
        
        <!-- Start Call Action -->
        <div class="call-action call-action-boxed call-action-style1 clearfix">
            <!-- Call Action Button -->
            <h2 style="text-align:center;" class="primary">{{ date_of_begin_time }}</h2>
        </div>
        <!-- End Call Action -->
        
        <div class="alert alert-success" role="alert">
            <h4 style="text-align:center;" class="alert-heading">남은 시간 : <span style="margin-left:15px" id="day">--</span>일<span style="margin-left:15px" id="hour">--</span>시<span style="margin-left:15px" id="min">--</span>분<span style="margin-left:15px" id="sec">--</span>초</h4>
        </div>
        
        <div style="text-align:center;">
        {% if user.is_authenticated %}
            <button type="button" id="btnLike" name="{{ like.id }}" class="like btn btn-success glyphicon glyphicon-thumbs-up"> -</button>
            <button type="button" id="btnDisLike" name="{{ dislike.id }}" class="dislike btn btn-success glyphicon glyphicon-thumbs-down"> -</button>
        {% else %}
            <div class="alert alert-warning" role="alert">
                로그인 후 <strong>좋아요!</strong> 혹은 <strong>싫어요!</strong> 버튼이 활성화 됩니다.
            </div>
            <button type="button" id="btnLike" class="like btn btn-success glyphicon glyphicon-thumbs-up disabled"> -</button>
            <button type="button" id="btnDisLike" class="dislike btn btn-success glyphicon glyphicon-thumbs-down disabled"> -</button>
        {% endif %}
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var dday = {{ server_time }};
        $.ajax({
            type: "POST",
            url: "{% url 'like_anonymous' %}",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response) {
                $('#btnLike').text(' 좋아요! ' + response.likes_count);
                $('#btnDisLike').text(' 싫어요! ' + response.disLikes_count);
            },
            error: function(request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });

        if (dday > 0) {
            var timer = setInterval(function () {
                if (dday == 0) {
                    notify();
                    location.reload();
                } else {
                    var rest = --dday;
                    var sec = rest % 60;
                    var min = ((rest - sec) / 60) % 60;
                    var hours = ((((rest - sec) / 60) - min) / 60) % 24;
                    var days = ((((((rest - sec) / 60) - min) / 60) - hours) / 24);

                    $("#sec").html((sec < 10) ? ('0' + sec) : sec);
                    $("#min").html((min < 10) ? ('0' + min) : min);
                    $("#hour").html((hours < 10) ? ('0' + hours) : hours);
                    $("#day").html((days < 10) ? ('0' + days) : days);
                }
            }, 1000);
        }
        else {
            clearInterval(timer);
        }
    });

    {% if user.is_authenticated %}
    $('.like').click(function() {
        var pk = $(this).attr('name');
        $.ajax({
            type: "POST",
            url: "{% url 'like' %}",
            data: {
                'pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response) {
                $(this).text(' ' + response.message + ' ' + response.likes_count);
            },
            error: function(request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    })

    $('.dislike').click(function() {
        var pk = $(this).attr('name');
        $.ajax({
            type: "POST",
            url: "{% url 'dislike' %}",
            data: {
                'pk': pk,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response) {
                $(this).text(' ' + response.message + ' ' + response.disLikes_count);
            },
            error: function(request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    })
    
    {% endif %}
    function spawnNotification(title, body, icon) {
        var n = new Notification(title, {
            body: body,
            icon: icon
        });

        n.onclick = function (e) {
            e.preventDefault();
            window.open('{{ url }}', '_blank');
        }
    }
    
    function notify() {
        Notification.requestPermission().then(function (permission) {
            if (permission === 'granted') {
                spawnNotification('{{ noti_title }}', '{{ noti_context }}', '{{ noti_img }}');
            }
        });
    }
    
    window.addEventListener('load', function () {
        Notification.requestPermission(function (status) {
            if (Notification.permission !== status) {
                Notification.permission = status;
            }
        });
    });

</script >

{% endblock %}