<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    
    <meta name="description" content="{{ description }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:site_name" content="{{ sitename }}" />
    <meta property="og:locale" content="{{ locale }}" />
    <meta property="og:type" content="{{ type }}" />

    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static 'VoteApp/img/fav32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'VoteApp/img/fav16.png' %}" sizes="16x16">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'VoteApp/asset/css/bootstrap.min.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'VoteApp/css/font-awesome.min.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'VoteApp/css/slicknav.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'VoteApp/css/style.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'VoteApp/css/responsive.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'VoteApp/css/animate.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'VoteApp/css/connect.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'VoteApp/css/colors/red.css' %}" media="screen" />
    
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.migrate.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/modernizrr.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/asset/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.fitvids.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/nivo-lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.isotope.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.appear.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/count-to.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.textillate.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.lettering.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.easypiechart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/smooth-scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/skrollr.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.parallax.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/mediaelement-and-player.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.slicknav.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'VoteApp/js/jquery.themepunch.tools.min.js' %}"></script>
</head>

<body>
    <!-- Container -->
    <div id="container">

        <!-- Start Header -->
        <header class="clearfix">

            <!-- Start Header ( Logo & Naviagtion ) -->
            <div class="navbar navbar-default navbar-top" role="navigation" data-spy="affix" data-offset-top="50">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Stat Toggle Nav Link For Mobiles -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- End Toggle Nav Link For Mobiles -->
                        <a class="navbar-brand" href="{% url 'index' %}"><img alt="" src="{% static 'VoteApp/img/logo2.png' %}"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <!-- Start Navigation List -->
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                            <li><a>{{ user.last_name }}{{ user.first_name }} 님 로그인</a></li>
                            {% endif %}
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'camera' %}">Camera</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'candidate' %}">Settings</a></li>
{#                            <li><a href="{% url 'candidate' user.username %}">설정</a></li>#}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                        <!-- End Navigation List -->
                    </div>
                </div>

                <!-- Mobile Menu Start -->
                <ul class="wpb-mobile-menu">
                    {% if user.is_authenticated %}
                    <li><a>{{ user.last_name }}{{ user.first_name }} 님 로그인</a></li>
                    {% endif %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'camera' %}">Camera</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'candidate' %}">Settings</a></li>
{#                    <li><a href="{% url 'candidate' user.username %}">설정</a></li>#}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
                <!-- Mobile Menu End -->

            </div>
            <!-- End Header ( Logo & Naviagtion ) -->

        </header>
        <!-- End Header -->


        <!-- Start Page Banner -->
        <div class="page-banner no-subtitle">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>{{ title }}</h2>
                    </div>
                    <div class="col-md-6">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <!--<li>Project</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->


        <!-- Start Section -->
        {% block content %}{% endblock %}
        <!-- End Section -->


        <!-- Start Footer -->
        <footer>
            <div class="container">
                <div class="row footer-widgets">
                    <div class="col-md-12">
                        <div class="footer-widget mail-subscribe-widget">
                            <h4>More Informations <span class="head-line"></span></h4>
                            <p>Tongmyong University ( Computer Engineering )</p>
                            <p>코드는 <a href="https://github.com/level120/Vote_of_LeeLab/">여기</a>에서 확인할 수 있습니다.</p>
                        </div>
                    </div>
                </div>

                <div class="copyright-section">
                    <div class="row">
                        <div class="col-md-6">
                            <p>2018 Capstone Design - Laboratory of Mobile Technology</p>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- End Container -->

    <!-- Go To Top Link -->
    <script type="text/javascript" src="{% static 'VoteApp/js/script.js' %}"></script>
</body>
</html>